services:
  redis:
    image: docker.io/library/redis:latest
    restart: unless-stopped
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5

  fingr:
    build: .
    image: fingr:latest
    restart: unless-stopped
    command: ["--verbose", "--redis_host", "redis"]
    ports:
      - '7979:7979'
    volumes:
      - type: tmpfs
        target: /app/data
        tmpfs:
          size: 10M
          mode: 0777
    depends_on:
      - redis

volumes:
  cache:
    driver: local
