services:
  redis:
    image: docker.io/library/redis:latest
    restart: unless-stopped
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5

  fingr:
    build: .
    image: fingr:latest
    restart: unless-stopped
    command: ["--verbose", "--redis_host", "redis"]
    ports:
      - '7979:7979'
      - '9090:9090'  # Prometheus metrics
    volumes:
      - type: tmpfs
        target: /app/data
        tmpfs:
          size: 10M
          mode: 0777
    depends_on:
      - redis

  prometheus:
    image: docker.io/prom/prometheus:latest
    restart: unless-stopped
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - '9091:9090'
    volumes:
      - ${PWD}/etc/prometheus:/etc/prometheus:ro
      - prometheus-data:/prometheus
    depends_on:
      - fingr

  grafana:
    image: docker.io/grafana/grafana:latest
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_INSTALL_PLUGINS=grafana-worldmap-panel
    volumes:
      - ${PWD}/etc/grafana/provisioning:/etc/grafana/provisioning:ro
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  cache:
    driver: local
  prometheus-data:
    driver: local
  grafana-data:
    driver: local
