[Unit]
Description=Fingr service
After=network.target

[Service]
User=fingr
WorkingDirectory=/var/fingr/
ExecStart=/var/fingr/venv/bin/python3 /var/fingr/server.py -p 79
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
Alias=finger.service
